button:hover {
    background-color: rgb(18, 219, 206);
    color: black;
}

.button{
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0.6em 2em;
    font-size: 1em;
    background: #1a1a1a;
    cursor: pointer;
    color: var(--button-color);
}



