
 .input{
    padding: 8px;
    width: 100%;
    font-size: 1.4rem;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid gray;
   transition: border-color 1s ease;
   }
   
   .input:focus {
      border-color: rgb(18, 219, 206);
      background-color: black;
   }
   