   .active {
      color: gray;
      border-bottom: 2px solid rgb(18, 219, 206);
   }

   a {
      padding: 25px;
   }

   .menuDiv {
      display: none;
      background-color: black;
      padding: 20px 5%;
   }

   .menuBtn {
      cursor: pointer;
   }

   .navbar {
      display: flex;
      background-color: black;
      justify-content: space-between;
      align-items: center;
      padding: 0px 5%;
   }

   .logoDiv{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
   }

   .innerNav {
      display: flex;
      gap: 10%;
   }


   @media (max-width:600px) {
      .navbar {
         flex-direction: column;
         gap: 14px;
         padding-bottom: 10px;
      }
   .mobile {
      display: none;
   }
      .mobileView {
         display: block;
         align-items: start;
         padding-bottom: 10px;
      }

      .innerNav {
         flex-direction: column;
      }
   
      .menuDiv {
         display: block;
      }
      .logoDiv {
         flex-direction: column;
         align-items: start;
         gap: 20px;
      }
      .logoAndMenu{
         display: flex;
         justify-content: space-between;
         /* width: 100vw; */
            width: calc(100vw - 20px);
         padding-left: 20px;
      }
      .logo{
         display: flex;
         align-items: center;
      }
         .active {
            border-left: 2px solid rgb(18, 219, 206);
            border-bottom: none;
         }
   }